header {
  background-color: rgb(90, 53, 90);
}
.logo__tamaño {
  width: 150px;
  height: 150px;
}
.nav-item {
  list-style: none;
  color: rgb(201, 145, 155);
  font-size: 20px;
}
.nav-link {
  text-decoration: none;
}
main {
  background-color: rgb(121, 118, 118);
}
.foto-rojas__tamaño {
  height: 225px;
  width: 250px;
}
.fs-2 {
  text-indent: 50px;
  text-align: justify;
}
footer {
  background-color: rgb(201, 145, 155);
}
.fs-4 {
  color: white;
}
.text-decoration-none {
  color: white;
}
/* contacto */
.img-ayuda__tamaño {
  height: 450px;
  width: 1000px;
}
.input__tamaño {
  width: 100px;
}

/* referentes */
.img-referentes__tamaño {
  height: 500px;
  width: 383.5px;
}
@media (max-width: 768px) {
  .img-referentes__tamaño {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 992px) {
  .img-referentes__tamaño {
    height: 200px;
    width: 200px;
  }
}
.text__align {
  text-align: justify;
}
